{% load i18n %}
{% load static %}
<!DOCTYPE html>
{% get_current_language_bidi as LANGUAGE_BIDI %}
<html dir="{% if LANGUAGE_BIDI %} RTL {% else %} LTR {% endif %}" lang="{{ LANGUAGE_CODE }}">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="{% url 'products:home'%}"><img src="{% static 'img/logo.png' %}" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
           <ul>
              <li><a href="{% url 'products:favorite_products_page' %}"><i class="fa fa-heart"></i> <span>{{item_length}}</span></a></li>
              <li><a href="{% url 'orders:shoping_cart' %}" id="liveToastBtn"><i class="fa fa-shopping-bag"></i> <span>{{order_length}}</span></a></li>
                  
           <ul>
						
				<div class="header__top__right__language">
				<a href="{% url 'accounts:user_profile' %}" class = "text-dark"><i class="fa fa-user "></i></a>
				<ul>
					<li><a href="{% url 'accounts:user_profile' %}">Profile</a></li>
					<li>{% if user.is_authenticated %}
					<a href="{% url 'accounts:logout' %}">Logout</a>
					{% elif not user.is_authenticated %}
					<a href="{% url 'accounts:login' %}">Login</a>
					{% endif %}
					</li>
					
					
				</ul>
				
				</div>
		        	 <li>
							{% get_current_language as LANGUAGE_CODE %}
							{% get_available_languages as LANGUAGES %}
							{% get_language_info_list for LANGUAGES as languages %}
							
							{% for language in languages %}
							
							<a href="/{{ language.code }}/"
							class="text-dark">
							{% if language.code != LANGUAGE_CODE %}
							{{ language.name_local }}
							{% endif %}
							</a>
							
							{% endfor %}
					 </li>
                </ul>
				 	       
        </div>
       
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="{% url 'products:home'%}">Home</a></li>
                <li><a href="{% url 'products:products'%}">Shop</a></li>
                <li><a href="{% url 'products:categories' 'Vegetables'%}">Categories</a>
                    <ul class="header__menu__dropdown">
					{% for category in categories  %}
                        <li><a href="{% url 'products:categories' category.name %}">{{category.name}}</a></li>
                    {% endfor %}
                    </ul>
                </li>
                <li><a href="{% url 'blog:blog' %}">Blog</a></li>
                <li><a href="{% url 'products:contact' %}">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
       
       
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
       
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="{% static 'img/logo.png' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 ">
                    <nav class="header__menu ">
                        <ul>
                            <li class="active"><a href="{% url 'products:home' %}">{% trans "Home" %}</a></li>
                            <li><a href="{% url 'products:products' %}">{% trans "Shop" %}</a></li>
							<li><a href="#">{% trans "Categories" %}</a>
                               <ul class="header__menu__dropdown">
                                   {% for category in categories  %}
									<li><a href="{% url 'products:categories' category.name %}">{{category.name}}</a></li>
									{% endfor %}
                               </ul>
                            </li>
                            
                            <li><a href="{% url 'blog:blog' %}">{% trans "Blog" %}</a></li>
                            <li><a href="{% url 'products:contact' %}">{% trans "Contact" %}</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="{% url 'products:favorite_products_page' %}"><i class="fa fa-heart"></i> <span>{{item_length}}</span></a></li>
                            <li><a href="{% url 'orders:shoping_cart' %}" id="liveToastBtn"><i class="fa fa-shopping-bag"></i> <span>{{order_length}}</span></a></li>
                        </ul>
										
						<ul>
						
							<div class="header__top__right__language">
							<a href="{% url 'accounts:user_profile' %}" class = "text-dark"><i class="fa fa-user "></i></a>
							<ul>
								<li><a href="{% url 'accounts:user_profile' %}"> {% trans 'Profile' %} </a></li>
								<li>
								{% if user.is_authenticated %}
								<a href="{% url 'accounts:logout' %}"> {% trans 'Logout' %} </a>
								{% elif not user.is_authenticated %}
								<a href="{% url 'accounts:login' %}"> {% trans 'Login' %} </a>
								{% endif %}
								</li>
								
							</ul>
							</div>
						 <li>
							{% get_current_language as LANGUAGE_CODE %}
							{% get_available_languages as LANGUAGES %}
							{% get_language_info_list for LANGUAGES as languages %}
							
							{% for language in languages %}
							
							<a href="/{{ language.code }}/"
							class="text-dark">
							{% if language.code != LANGUAGE_CODE %}
							{{ language.name_local }}
							{% endif %}
							</a>
							
							{% endfor %}




						 </li>
                        </ul>
						
						
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
		
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>{% trans 'All departments' %}</span>
                        </div>
                        <ul>
                            {% for category in categories  %}
								<li><a href="{% url 'products:categories' category.name %}">{{category.name}}</a></li>
							{% endfor %} 
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form method = 'GET' action="{% url 'products:search_product' %}">
                                
                                <input type="text" name="q" placeholder="{% trans 'What do yo u need?' %}">
                                <button type="submit" class="site-btn">{% trans 'SEARCH' %}</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+212 1.18.88.88</h5>
                                <span>{% trans 'support 24/7 time' %}</span>
                            </div>
                        </div>
                    </div>
					
                    {% block cont %}
	                {% endblock cont %}
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->
	{% block content %}
	{% endblock content %}

  
    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="{% static 'img/logo.png' %}" alt=""></a>
                        </div>
                        <ul>
                            <li>{% trans 'Address: 60-49 Road 11378 Tiznit' %}</li>
                            <li>{% trans 'Phone: +212 1.18.88.88' %}</li>
                            <li>{% trans 'Email: ogani@gmail.com' %}</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>{% trans 'Useful Links' %}</h6>
                        <ul>
                            <li><a href="#">{% trans 'About Us' %}</a></li>
                            <li><a href="#">{% trans 'About Our Shop' %}</a></li>
                            <li><a href="#">{% trans 'Secure Shopping' %}</a></li>
                            <li><a href="#">{% trans 'Delivery infomation' %}</a></li>
                            <li><a href="#">{% trans 'Privacy Policy' %}</a></li>
                            <li><a href="#">{% trans 'Our Sitemap' %}</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">{% trans 'Who We Are' %}</a></li>
                            <li><a href="#">{% trans 'Our Services' %}</a></li> 
                            <li><a href="{% url 'products:contact' %}">{% trans 'Contact' %}</a></li>
                            
                           
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>{% trans 'Join Our Newsletter Now' %}</h6>
                        <p>{% trans 'Get E-mail updates about our latest shop and special offers.' %}</p>
                        <form action="#">
                            <input type="text" placeholder="{% trans 'Enter your mail' %}">
                            <button type="submit" class="site-btn">{% trans 'Subscribe' %}</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  {% trans 'Copyright' %} &copy;<script>document.write(new Date().getFullYear());</script>{% trans ' All rights reserved | ' %}<i class="fa fa-heart" aria-hidden="true"></i>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                        <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>



</body>

</html>