{% extends 'base.html'%}
{% load i18n %}
{% load static %}
{% block content %}


  
    <!-- Breadcrumb Section Begin -->
   
    <!-- Breadcrumb Section End -->
    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <div class="sidebar__item">
                            <h4>{% trans 'Department' %}</h4>
                            <ul>
                                {% for category in categories  %}
									<li><a href="{% url 'products:categories' category.name %}">{{category.name}}</a></li>
								{% endfor %}
                            </ul>
                        </div>
                        <div class="sidebar__item">
                            <h4>{% trans 'Price' %}</h4>
                            <div class="price-range-wrap">
                                <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                    data-min="3" data-max="540">
                                    <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                </div>
                                <div class="range-slider">
                                    <div class="price-input">
                                        <input type="text" id="minamount">
                                        <input type="text" id="maxamount">
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                    </div>
                </div>
                <div class="col-lg-9 col-md-7">
                    <div class="filter__item">
                        <div class="row justify-content-center">
                           
                            <div class="col-lg-4 col-md-12 ">
                                <div class="filter__found">
                                    <h6><span>{{product|length}}</span>{% trans ' Products found' %}</h6>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
						{% for  product in product %}
                
					<div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product__discount__item">
                            <div class="product__discount__item__pic set-bg" data-setbg="{{ product.image.url }}">
                                {% if product.discount %}       
								<div class="product__discount__percent">-{{ product.get_discount_percent }}%</div>
								{% endif %}
                                <ul class="product__item__pic__hover">
                                    <li><a href="{% url 'products:add_to_favorites' product.slug %}" ><i class="fa fa-heart"></i></a></li>
									<li><a href="{% url 'products:product_detail' product.slug %}"><i class="fa fa-retweet"		></i></a></li>
									<li><a href="{% url 'orders:add_to_cart' product.slug %}"><i class="fa fa-shopping-cart"></i></a></li></ul>
							</div>
							{% if product.discount %}
                            <div class="product__discount__item__text">                                     
                                <h5><a href="#">{{ product.title }}</a></h5>
								
                                <div class="product__item__price">{{ product.discount }}DH<span>{{ product.price }}DH</span></div>
								
								
								
                            </div>
							{% else %}
							<div class="product__item__text">
                                    <h6><a href="#">{{ product.title }}</a></h6>
									
                                    <h5>{{ product.price }}DH</h5>
                                </div>
								{% endif %}
                        </div>
                    </div>
				{% endfor %} 
                    </div>
					{% if product.has_other_pages %}
                    <div class="product__pagination">
						{% if product.has_previous %}
					    <a href="?page={{product.previous_page_number}}"><i class="fa fa-long-arrow-left"></i></a>
						{% endif %}
						{% for page in product.paginator.page_range %}
                        <a href="?page={{page}}">{{page}}</a>
						{% endfor %}
						{% if product.has_next %}
                        <a href="?page={{ product.next_page_number}}"><i class="fa fa-long-arrow-right"></i></a>
						{% endif %}
                    </div>
					{% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->

   





{% endblock  %}
