{% extends 'base.html'%}
{% load i18n %}
{% load static %}
{% block content %}





  
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>{% trans 'Favorite Products' %}</h2>
                        <div class="breadcrumb__option">
                            <a href="{% url 'products:home'%}">{% trans 'Home' %}</a>
                            <span>{% trans 'Favorits' %}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
		{% if favorite_product %}
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <div class="sidebar__item">
                            <h4>{% trans 'Department' %}</h4>
                            <ul>
                                <li><a href="{% url 'products:categories' 'Meats'%}">{% trans 'Meats' %}</a></li>
								<li><a href="{% url 'products:categories' 'Vegetables'%}">{% trans 'Vegetables' %}</a></li>
								<li><a href="{% url 'products:categories' 'Fruits'%}">{% trans 'Fruits' %}</a></li>
								<li><a href="{% url 'products:categories' 'Juice'%}">{% trans 'Juice' %}</a></li>
								<li><a href="{% url 'products:categories' 'Fastfood'%}">{% trans 'Fastfood' %}</a></li>
								
                            </ul>
                        </div>
                        <div class="sidebar__item">
                            <h4>{% trans 'Price' %}</h4>
                            <div class="price-range-wrap">
                                <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                    data-min="3" data-max="540">
                                    <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                </div>
                                <div class="range-slider">
                                    <div class="price-input">
                                        <input type="text" id="minamount">
                                        <input type="text" id="maxamount">
                                    </div>
                                </div>
                            </div>
                        </div>
                         <div class="sidebar__item">
                            <div class="latest-product__text">
                                <h4>{% trans 'Latest Products' %}</h4>
                                <div class="latest-product__slider owl-carousel">
								
                                    <div class="latest-prdouct__slider__item">
                                        {% for item in items|slice:"0:3" %}
										{% if item.added_at|date:"d" >= timenow|date:"d"  %}
										<a href="#" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="{{ item.image.url }}" alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>{{item.title}}</h6>
                                                <span>{{ item.price }}DH</span>
                                            </div>
                                        </a>
                                        {% endif %}
										{% endfor %}
									</div>
									
                                    <div class="latest-prdouct__slider__item">
									 {% for item in items|slice:"3:6" %}
										{% if item.added_at|date:"d" <= timenow|date:"d"  %}
										<a href="#" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="{{ item.image.url }}" alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>{{item.title}}</h6>
                                                <span>{{ item.price }}DH</span>
                                            </div>
                                        </a>
                                        {% endif %}
										{% endfor %}
                                       
									   </div> <div class="latest-prdouct__slider__item">
									 {% for item in items|slice:"6:9" %}
										{% if item.added_at|date:"d" <= timenow|date:"d"  %}
										<a href="#" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="{{ item.image.url }}" alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>{{item.title}}</h6>
                                                <span>{{ item.price }}DH</span>
                                            </div>
                                        </a>
                                        {% endif %}
										{% endfor %}
                                       
									   </div>
									   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-7">
                    
                    <div class="filter__item">
                        <div class="row justify-content-center">
                           
                            <div class="col-lg-4 col-md-12 ">
                                <div class="filter__found">
                                    <h6><span>{{items|length}}</span>{% trans ' Products found' %}</h6>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
						{% for product in favorite_product %}
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{ product.image.url }}">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="{% url 'products:remove_from_favorites' product.slug %}"><i class="fa fa-trash"></i></a></li>
                                        <li><a href="{% url 'products:product_detail' product.slug %}"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="{% url 'orders:add_to_cart' product.slug %}"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">{{ product.title }}</a></h6>
                                    <h5>{{ product.price }}DH</h5>
                                </div>
                            </div>
                        </div>
						{% endfor %} 
                    </div>
					{% if favorite_product.has_other_pages %}
                    <div class="product__pagination">
					{% if favorite_product.has_previous%}
					<a href="?page={{ favorite_product.previous_page_number}}"><i class="fa fa-long-arrow-left"></i></a>
					{% endif %}
					{% for page in favorite_product.paginator.page_range %}
                        <a href="?page={{page}}">{{page}}</a>
                        
						{% endfor %}
						{% if favorite_product.has_next %}
                        <a href="?page={{ favorite_product.next_page_number}}"><i class="fa fa-long-arrow-right"></i></a>
						{% endif %}
                    </div>
					{% endif %}
                </div>
            </div>
			{% else %}
						<h3 class=" text-center ">{% trans 'empty !' %}</h3>
			{% endif %}	
        </div>
    </section>
    <!-- Product Section End -->

   












{% endblock  %}

 